.row{
    padding: 20px;
}
div{
    background-color: #FFE4E1;
}

/*etiqueta nombre*/

#nombre{
    font-weight: bold;
    margin-top: 30%;
}

/*estilo foto de perfil*/

@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 600px;
    }
}