

<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfi">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Santos Candela Pilar</p>
        <p>Full Stack Developer Jr.</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de Mi</h1>
        <P> Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Quis ad saepe tempore aspernatur sint fugiat perferendis quos nisi. 
            Deserunt, voluptates obcaecati. Saepe vel quia earum doloribus, 
            aut officiis aspernatur ipsa.</P>
    </div>
</div>
